.container {
  height: 80vh;
  width: 70vw;
  background-color: #e5e5e5;
  border-radius: 20px;
  margin-top: 10vh;
  margin-left: 15vw;
  display: flex;
}

.table {
  width: 50%;
  border-right: 1px solid #e5e5;
}

table {
  border-radius: 20px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
}

table >  tr  {
  border-bottom: 1px solid #e5e5;
  color: rgb(127, 16, 139);
  font-size: 20px;
}

.form {
  height: 100%;
  width: 50%;
}


form {
  height: 90%;
  width: 80%;
  background-color: white;
  border-radius: 20px;
  margin-top: 5%;
  margin-left: 10%;
}

label {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding-left: 40px;
  padding-top: 10%;
  display: block;
}

input {
  width: 60%;
  margin-left: 10%;
  margin-top: 5px;
  height: 40px;
  padding-left: 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  width: 40%;
  background-color: #e5e;
  color: white;
  margin-left: 10%;
  margin-top: 10%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}