.data-form {
    height: 100%;
    width: 100%;
    /* background-color: rgb(199, 169, 51); */
    /* top: 0; */
    /* display: flex; */
}


/* .form {
    height: 100%;
    width: 50%;
  } */
  
  
   form {
  /*  height: 100%;
    width: 100%;
    background-color: rgb(202, 124, 124); */
    border-radius: 20px; 
    /* margin-top: 5%; */
    margin-left: 10%;
  }
  
   label {
    font-size: 18px;
    font-weight: 400;
    color: #000;
    /* padding-left: 40px; */
    padding-top: 10%;
    display: block;
  }

  input {
    width: 90%;
    /* margin-left: 10%; */
    /* margin-top: 5px; */
    height: 40px;
    padding-left: 20px;
    display: block;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
 
  .button {
    width: 40%;
    background-color: #e5e;
    color: white;
    margin-left: 10%;
    margin-top: 10%;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  } 